.modal-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);;
    z-index: 10;
    align-content: center;

    .inner-panel{
        margin-left: 20vw;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        opacity: 100;
        background-color: white;
        border-radius: 20px;
        width: 70rem;
        height: 42rem;
        align-content: center;
        padding: 2.5rem;
        text-align: center;
        h2{
            font-size: 3rem;
            color: $primary;
        }
        h3{
            font-size: 2rem;
            color: $primary;
        }
        
        p{
            color: $black;
            font-size: 1.7rem;
            line-height: 2.5rem;
        }
        .submitButton {
            width: 15rem;
            height: 6rem;
            background-color: $accent;
            color: $primary;
            font-size: 1.6rem;
            margin: 1rem 0px;
            padding: 15px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            margin-left: 1.25rem;
          }
          .submitButton:hover {
            background-color: #d4d926;
          }
    }
}