.discrete-modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-wrapper {
    opacity: 100;
    background-color: white;
    border-radius: 20px;
    width: 65vw;
    height: 75vh;
    padding: 2.5rem;
    display: flex;

    .modal-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow-y: auto;
      .input-row {
        display: flex;
        flex-direction: column;
        width: 60%;
        overflow-y: auto;

        .inputItem {
          text-align: left;
          display: flex;
          flex-direction: row;
          justify-items: left;
          width: 100%;
          height: auto;
          margin-top: 3vh;

          .item-title {
            width: 30%;
            height: 100%;
            h3 {
              display: inline;
              font-size: 1.5vw;
            }
          }

          .item-input {
            width: 50%;
            height: 100%;
            color: black;
            h3 {
              display: inline;
              font-size: 1vw;
            }
          }

          .desc-title {
            width: 30%;
            height: 100%;
            margin-top: 4vh;
            h3 {
              display: inline;
              font-size: 1.5vw;
            }
          }

          .desc-input {
            width: 50%;
            height: 100%;
            margin-top: 1.5vh;
            margin-bottom: 1.5vh;
            input {
              height: 100%;
              width: 100%;
            }
          }

          h3 {
            font-size: 1.6rem;
            color: $primary;
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
        }
      }
      .level-row {
        width: 30%;
        height: 100%;
        h3 {
          color: black;
        }

        .card-list {
          height: 85%;
          width: 100%;
          display: flex;
          flex-direction: column;

          .level-bar {
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-items: left;
            width: 100%;
            height: auto;
            margin-top: 3vh;
            .title {
              width: 30%;
              height: 100%;
              h3 {
                display: inline;
                font-size: 1.5vw;
              }
            }
            .input {
              width: 50%;
              height: 100%;
              h3 {
                display: inline;
                font-size: 1vw;
              }
            }
          }

          .add-btn {
            .submitButton {
              background-color: $accent;
              color: $primary;
              font-size: 1.6rem;
              margin: 1.25rem 0px;
              padding: 0.625rem;
              width: 13rem;
              border: none;
              cursor: pointer;
              border-radius: 10px;
            }
            .submitButton:hover {
              background-color: #d4d926;
            }
          }
        }

        .finish-btn-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          .spacer {
            width: 40%;
          }
          .finish-btn {
            margin-left: auto;
            display: flex;
            height: 10%;
            align-self: center;
            width: 10%;
            .submitButton {
              background-color: $accent;
              color: $primary;
              font-size: 1.6rem;
              margin: 1.25rem 0px;
              padding: 15px;
              border: none;
              cursor: pointer;
              border-radius: 10px;
            }
            .submitButton:hover {
              background-color: #d4d926;
            }
          }
        }
      }
    }
  }
}
