.discrete-modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-wrapper {
    opacity: 100;
    background-color: white;
    border-radius: 20px;
    width: 75vw;
    height: 80vh;
    padding: 2.5rem;
    display: flex;

    .modal-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow-y: auto;
      justify-content: space-between;
      .left-pane {
        display: flex;
        flex-direction: column;
        width: 55%;
        overflow-y: auto;

        .experimentCheck {
          display: flex;
          flex-direction: row;
          margin-left: 30%;
          h3 {
            color: black;
            line-height: 50%;
            margin-left: 1rem;
          }
        }

        .inputItem {
          text-align: left;
          display: flex;
          flex-direction: row;
          justify-items: left;
          width: 100%;
          height: auto;
          margin-top: 3vh;

          .item-title {
            width: 30%;
            height: 100%;
            h3 {
              display: inline;
              font-size: 1.5vw;
            }
          }

          .item-input {
            width: 50%;
            height: 100%;
            color: black;
            h3 {
              display: inline;
              font-size: 1vw;
            }
          }

          .desc-title {
            width: 30%;
            height: 100%;
            margin-top: 4vh;
            h3 {
              display: inline;
              font-size: 1.5vw;
            }
          }

          .desc-input {
            width: 50%;
            height: 100%;
            margin-top: 1.5vh;
            margin-bottom: 1.5vh;

            textarea {
              min-height: 100%;
              max-height: 100%;
              min-width: 100%;
              max-width: 100%;
              margin: auto;
              resize: none;
            }

            input {
              height: 100%;
              width: 100%;
            }
          }
          h3 {
            font-size: 1.6rem;
            color: $primary;
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
        }
      }
      .right-pane {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-top: 3vh;

        .level-input {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 45%;
          width: 100%;
          .input-item {
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-items: left;
            width: 100%;
            height: auto;
            margin-bottom: auto;

            .input-title {
              width: 30%;
              height: 100%;
              h3 {
                display: inline;
                font-size: 1.25vw;
              }
            }
            .input-box {
              width: 50%;
              height: 100%;
              textarea {
                min-height: 100%;
                max-height: 100%;
                min-width: 100%;
                max-width: 100%;
                margin: auto;
                resize: none;
              }
              h3 {
                display: inline;
                font-size: 1vw;
              }
            }
          }
          h3 {
            font-size: 1.6rem;
            color: $primary;
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
          .spacer {
            height: 3vh;
          }
          .add-btn {
            display: flex;
            justify-content: center;
            .submitButton {
              background-color: $accent;
              color: $primary;
              font-size: 1.2vw;
              margin: 1.25rem 0px;
              padding: 0.5rem;
              width: 50%;
              border: none;
              cursor: pointer;
              border-radius: 10px;
            }
            .submitButton:hover {
              background-color: #d4d926;
            }
          }
        }

        .card-list {
          display: flex;
          flex-direction: column;
          height: 40%;
          width: 100%;
          overflow-y: scroll;

          h3 {
            color: black;
          }
        }

        .btn-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 20%;

          .spacer {
            width: 15%;
          }
          .close-btn {
            display: flex;
            align-self: center;
            width: 10%;
            .submitButton {
              background-color: $accent;
              color: $primary;
              font-size: 1.2vw;
              margin: 1.25rem 0px;
              padding: 15px;
              border: none;
              cursor: pointer;
              border-radius: 10px;
            }
            .submitButton:hover {
              background-color: #d4d926;
            }
          }
          .finish-btn {
            margin-left: auto;
            display: flex;
            align-self: center;
            .submitButton {
              background-color: $accent;
              color: $primary;
              font-size: 1.2vw;
              margin: 1.25rem 0px;
              padding: 15px;
              border: none;
              cursor: pointer;
              border-radius: 10px;
            }
            .submitButton:hover {
              background-color: #d4d926;
            }
          }
        }
      }
    }
  }
}
