.node-modal-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner-panel {
    opacity: 100;
    background-color: white;
    border-radius: 20px;
    width: 60vw;
    height: 70vh;
    padding: 2.5rem;
    display: flex;

    .panel-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      overflow-y: auto;
      h2 {
        font-size: 2.5vw;
        color: $primary;
      }
      h3 {
        font-size: 2rem;
        color: $primary;
      }

      p {
        color: $black;
        font-size: 1.5vw;
        line-height: 2.5rem;
      }
      .submitButton {
        width: 10vw;
        height: 8vh;
        background-color: $accent;
        color: $primary;
        font-size: 1.6rem;
        margin: 1rem 0px;
        padding: 15px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 1.25rem;
      }
      .submitButton:hover {
        background-color: #d4d926;
      }
    }
  }
}
