.reset-modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner-modal {
    opacity: 100;
    background-color: white;
    border-radius: 20px;
    width: 60vw;
    height: 70vh;
    padding: 2.5rem;
    display: flex;
    .modal-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      overflow-y: auto;
      .text-content {
        height: 25%;
        h2 {
          font-size: 2.5vw;
          color: $primary;
        }
        h3 {
          font-size: 1.4vw;
          color: $primary;
          text-align: center;
        }
      }
      .password-row {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        justify-content: center;
        .current-pass {
          display: flex;
          width: 100%;
          height: 45%;
          align-items: center;
          .current-pass-input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            .title {
              width: 40%;
              margin-bottom: 0px;
              justify-content: center;
              h3 {
                font-size: 2.5vw;
                color: $primary;
                margin-bottom: 0px;
              }
            }
            .pass-input {
              width: 50%;
            }
          }
        }
        .new-pass {
          display: flex;
          width: 100%;
          align-items: center;
          .new-pass-input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            .title {
              width: 40%;
              margin-bottom: 0px;
              justify-content: center;
              
              h3 {
                font-size: 2.5vw;
                color: $primary;
                margin-bottom: 0px;
              }
            }
            .pass-input {
              width: 50%;
              height: 45%;
            }
          }
        }
      }

      .submit-btn {
        height: 30%;
        margin-top: auto;
        .submitButton {
          width: 10vw;
          height: 8vh;
          background-color: $accent;
          color: $primary;
          font-size: 1.6rem;
          margin: 1rem 0px;
          padding: 15px;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          margin-left: 1.25rem;
        }
        .submitButton:hover {
          background-color: #d4d926;
        }
      }
    }
  }
}
