.participant-pane-content {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 5%;
  color: black;
  padding-left: 1.25rem;
  .title {
    .title-btn-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      justify-content: space-between;
      h2 {
        margin-top: 0.75rem;
        font-size: 1.4rem;
        font-weight: 800;
        letter-spacing: 0.5px;
      }
      .exercise-btn {
        .exerciseBtn {
          background-color: #f52f2f;
          color: $primary;
          font-size: 1.6rem;
          margin-bottom: 1.25rem;
          padding: 0.625rem;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          color: white;
        }
        .exerciseBtn:hover {
          background-color:#be2424;
        }
      }
    }
    h3 {
      font-size: 1rem;
      font-weight: 600;
      line-height: 0.4rem;
    }
  }
  .description {
    h2 {
      font-size: 1.2rem;
      font-weight: 800;
      letter-spacing: 0.5px;
    }
    h3 {
      font-size: 1rem;
      font-weight: 600;
    }
  }
  .info-column {
    .info-box {
      background-color: white;
      border-radius: 20px;
      width: 100%;
      padding: 10px;
     // margin-bottom: 20px;
      p {
        padding: 10px;
      }
    }
  }
}

#observation{
  margin-bottom: 0;
  font-weight: 700;
}

#date{
  font-weight: 400;
}
