.project-panel-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  .project-title {
    height: 100%;
    width: 70%;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    h3 {
      font-size: 1.2rem;
    }

    .feat-img {
      width: 27.5rem;
      z-index: 4;

      img {
        border-radius: 10px;
      }
    }

    .experiment-row {
      height: 90%;
      margin-top: 1rem;
    }
  }

  .btn-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: auto;
    justify-content: flex-end;

    .submitButton {
      background-color: $accent;
      color: $primary;
      font-size: 1.2rem;
      margin: 0.625rem 0px;
      padding: 0.625rem;
      width: 10rem;
      border: none;
      cursor: pointer;
      border-radius: 10px;
    }
    .submitButton:hover {
      background-color: #d4d926;
    }

    #inv {
      background-color: #8c77ce;
      color: white;
    }
    #inv:hover {
      background-color: #6d4ed2;
    }
    #edit {
      background-color: #eac2cb;
      color: white;
    }
    #edit:hover {
      background-color: #ff9fb4;
      color: white;
    }
    #comp {
      background-color: #fd0000;
      color: white;
    }
    #comp:hover {
      background-color: #db1717;
    }
    #exp {
      background-color: #37a449;
      color: white;
    }
    #exp:hover {
      background-color: #3a8c14;
    }
  }
}
