.pane-container {

  .title {
    padding-top: 20px;
    padding-left: 20px;
  }

  .project-column {
    padding-left: 20px;

    p {
    }

    .description-box {
      background-color: white;
      border-radius: 20px;
      width: 90%;
      padding: 10px;
      margin-bottom: 20px;
      p {
        padding: 10px;
      }
    }
  }
}
