header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;

    .inner-header 
    {
        display: flex;
        align-items: center;
        //make this justify-content: center and give margins to make it look right.
        justify-content: space-between;
        height: 80px;

        .logo 
        {
            img {
                margin-top: 30px;
                margin-left: 20px;
                height: 36px;
            }
        }

        .navigation 
        {
            nav 
            {
                a {
                    
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $white;
                    //add a margin to the last child
                    &:hover { 
                        color: $contrast;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}
