.options-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 7;
  background-color: white;
  color: black;
  height: 86vh;
  border-top-right-radius: 20px;
  .title {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      color: black;
      font-size: 2rem;
      font-family: "Archivo Narrow";
      letter-spacing: 0.1mm;
    }
  }

  .inputs {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    z-index: 7;
    background-color: white;
    overflow-y: scroll;

    .chart-select {
      display: flex;
      width: 90%;
      height: 7.5%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      flex-direction: row;
      z-index: 15;
      .label {
        display: flex;
        width: 30%;
        align-items: center;
        h3 {
          margin-bottom: 0;
          font-size: 100%;
        }
      }
      .dropdown {
        display: flex;
        align-items: center;
        width: 60%;
        .project-block {
          display: flex;
          flex-direction: column;
          height: 50%;

          .variable-list-item {
            display: flex;
            flex-direction: row;
            width: 25%;

            .label {
              width: 45%;
              h3 {
                display: inline;
                font-size: 1.25vw;
              }
            }
            .checkbox {
              width: 45%;
              input {
                height: 3vh;
                width: 2vw;
              }
            }
          }
        }
      }
    }

    .date-select {
      display: flex;
      width: 90%;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 2.5%;
      margin-bottom: 5%;
      .title {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 125%;
        }
      }
      .date-pickers {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 7;
        .from-picker {
          display: flex;
          flex-direction: row;
          width: 100%;
          .label {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            h3 {
              margin-bottom: 0;
              font-size: 100%;
            }
          }
          .dropdown {
            width: 60%;
          }
        }
        .to-picker {
          display: flex;
          flex-direction: row;
          width: 100%;
          .label {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            h3 {
              margin-bottom: 0;
              font-size: 100%;
            }
          }
          .dropdown {
            width: 60%;
          }
        }
      }
    }

    .variables {
      display: flex;
      width: 90%;
      flex-direction: column;
      justify-content: space-around;
      .title {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 125%;
        }
      }
      .variable-pickers {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .treatment-picker {
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-bottom: 5%;
          .label {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            h3 {
              margin-bottom: 0;
              font-size: 100%;
            }
          }
          .dropdown {
            width: 60%;
            height: 50%;
          }
        }
        .response-picker {
          display: flex;
          flex-direction: row;
          margin-bottom: 5%;
          width: 100%;
          .label {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            h3 {
              margin-bottom: 0;
              font-size: 100%;
            }
          }
          .dropdown {
            width: 60%;
            height: 50%;
          }
        }
      }
    }

    .sensors {
      width: 90%;
      flex-direction: column;
      .title {
        display: flex;
        width: 90%;
        flex-direction: column;
        h3 {
          font-size: 125%;
        }
      }
      .sensor-accordion {
        display: flex;
        flex-direction: row;
        width: 100%;
        .label {
          width: 26.5%;
          display: flex;
          flex-direction: row;
          align-items: center;
          h3 {
            margin-bottom: 0;
            font-size: 100%;
          }
        }
        .accordion {
          width: 60%;
          .project-block {
            flex-direction: row;
            justify-content: space-around;
            .project-item {
              width: 100%;
              display: flex;
              flex-direction: row;
              h3 {
                color: black;
                margin-left: 1rem;
                font-size: 100%;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .checkboxes {
      height: 10%;
      display: flex;
      flex-direction: column;
      margin-top: 5%;

      .average-checkbox{
        margin-bottom: 5px;
      }
    }

    .generate-btn {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      .submitButton {
        margin-left: auto;
        background-color: $accent;
        color: $primary;
        font-size: 1.6rem;
        margin-right: 1rem;
        padding: 15px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
      }
      .submitButton:hover {
        background-color: #d4d926;
      }
    }
  }
}
