.recordTable {
  .tableList {
    margin-top: 1.5rem;
    margin-left: 2rem;

    thead {
      tr {
        font-weight: bold;
        th {
          font-weight: bold;
        }
      }
    }

    tbody {
      
        #desc-id {
          width: 20rem;
        }      
    }
  }
}