form {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100%;
  padding: 1.25rem 3.75rem;
  border-radius: 25px;
  height: 31.25rem;

  @include media("<=phone") {
    width: 100%;
    height: 575px;
    padding: 20px 20px;
    background: none;
  }

  .submit-btn {
    width: 60%;
    align-self: center;
  }

  input {
    border: none;
    outline: 0;
    border-bottom: 1.5px solid #000;
    box-sizing: border-box;
    padding-bottom: 0.625rem;
    width: 100%;
    position: relative;
    bottom: 1.25rem;

    @include media("<=phone") {
      background: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      color: #fff;
      border-bottom: 1.5px solid #fff;
      padding: 5px;
    }
  }
  input:focus {
    border-color: $contrast;
  }
  label {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;
    margin-bottom: 0.625rem  ;
    margin-top: 0.625rem  ;

    @include media("<=phone") {
      color: #fff;
      margin: 0px;;
    }
  }
  

  .submitButton {
    background-color: $accent;
    color: $primary;
    font-size: 1.6rem;
    margin: 1.25rem 0px;
    padding: 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .submitButton:hover {
    background-color: #d4d926;
  }
}
