.unit-card {
  display: flex;
  width: 100%;
  //min-height: 10vh;
  background-color: white;
  border-radius: 20px;
  //margin-top: .5rem;
  margin-bottom: 1rem;
  padding: 20px 0px;

  .color-selector {
    // width: 20% !important;
    // position: fixed !important;
    // margin-left: 25%;
    // margin-top: 4%;
  }

  .card-content {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin-left: 1vw;
    align-items: center;
    .checkbox {
      margin-left: 2rem;
      width: 2vw;
      height: 2vw;
    }

    .text-content {
      width: 55%;
      h3 {
        margin-left: 1vw;
        color: $primary;
        font-size: 1.5vw;
        margin-bottom: 0;
      }
    }
    .colour-picker {
      display: flex;
      width: 35%;
      height: 100%;
      color: black;

      .icon {
        width: 75%;
        height: 75%;
      }
    }
  }
}

#active {
  background-color: $accent;
}