.list-item {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 95%;
    //height: 10vh !important;
    margin-top: 2rem;
    border-radius: 20px;
    border: 1px solid black;
    align-items: center;
    padding: 20px 0px;

    .checkbox {
        margin-left: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }

    .first-third{
        display:inline-block;
        max-width: 45%;
        width: 45%;
        text-align: justify;
        font-size: 2em;
        margin-left: 2rem;
        color: $black;
        h3 {
            display: inline;
            margin-bottom: 0;
            font-size: 1.5vw;
        }
    }
    .last-third{
        max-width: 45%;
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        .submitButton {
            background-color: $accent;
            color: $primary;
            font-size: 1.6rem;
            width: 90%;
            height: 100%;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            margin-left: 5%;
        }
        .submitButton:hover {
            background-color: #d4d926;
        }
    }
    .vl {
        border-left: 3px solid $black;
        height: 60%;
        //margin-left: 2rem;
    }
}
