.variable-description-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    background-color: white;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    border: 1px solid black;
    align-items: center;

    .first-third{
        display:inline-block;
        max-width: 25%;
        width: 25%;
        text-align: justify;
        font-size: 2em;
        margin-left: 2rem;
        color: $black;
        h3 {
            display: inline;
            margin-bottom: 0;
            font-size: 1.5vw;
        }
    }
    .second-third{
        display:inline-block;
        text-align: justify;
        font-size: 2em;
        margin-left: 2rem;
        color: #d3d3d3;
        h3 {
            display: inline;
            margin-bottom: 0;
            font-size: 1.5vw;
        }
    }
    .vl {
        border-left: 3px solid $black;
        height: 60%;
        margin-left: 2rem;
    }
}
