.about {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  font-family: "Archivo Narrow";
  .content {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    //height: 80vh;
    margin-top: 8.5%;
    .feature-image {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: white;
      height: 44vh;
      width: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      height: 60vh;
      width: 100%;
      justify-content: center;
      align-items: center;

      .title {
        height: 40%;
        width: 50%;

        h3 {
          color: $primary;
          font-size: 3rem;
          text-align: center;
        }
      }
    }
  }
}