.data {
  .main-content {
    .content-area {
      background-color: initial;
      justify-content: space-between;
      gap: 1rem;
    }
  }
  .panel-body {
    background-color: $white;
    padding: 2rem 0.5rem 2rem 2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .chart-table-view {
    height: 100%;
  }
  .ag-theme-alpine {
    width: 100%;
    height: 100%;
  }

  .filter-message {
    margin-left: 0.75rem;
  }
  .filter-block{
    flex-direction: row;
    display: grid;

    .filter-item{
      width: 100%;
      display: flex;
      flex-direction: row;
      input {
        margin-right: 1rem;
      }
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: initial;
  }
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    padding: 0;
  }
  .form-select {
    border: none;
    padding: 0.375rem 2.25rem 0.375rem 0;
    display: inline-block;
  }

  row {
    width: 90%;
    padding: 0.5rem 0;
  }

  row .form-select {
    padding: 0;
    width: 6rem;
  }

  .MuiAccordion-root {
    font-size: 1.4rem;
  }
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none;
    width: 97%;
  }
  //.css-b62m3t-container {
  //  width: 100%;
  //}

  .date-pickers input {
    border: none;
  }

  .react-dropdown-tree-select .dropdown .dropdown-trigger {
    border: none;
  }

  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after {
    content: "\2303";
    width: 1rem;
  }
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after {
    content: "\2304";
    width: 1rem;
  }

  .react-dropdown-tree-select .dropdown .dropdown-content {
    width: 100%;
    background-color: lightgrey;
  }

  li.node {
    margin-bottom: 0;
  }

  .variables {
    padding-right: 1rem;
  }

  .label {
    font-size: 1.4rem;
  }

  .treatment-picker {
    margin-top: 1rem;
  }

  row {
    display: flex;
  }

  [type="date"] {
    min-width: auto;
  }
}

.data-select {
  min-width: 24rem;
  width: 24rem;
}


