.treatment-container {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  .content {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 87vh;
    border-radius: 20px;
    .content-wrapper {
      display: flex;

      .treatment-list {
        width: 87vh;
        display: flex;
        flex-direction: column;
        z-index: 7;
        color: black;
        height: 87vh;
        overflow-y: auto;
        .list-header {
          height: 10%;
          display: flex;
          flex-direction: column;
          margin-bottom: 5%;
          .header-text {
            align-self: center;

            h3 {
              color: $primary;
              font-size: 1.5vw;
            }
          }
          .search-row {
            display: flex;
            flex-direction: row;
            width: 70%;
            justify-content: space-around;
            .search-box {
              width: 15rem;
              height: 3rem;
            }
          }
        }
        .list-content {
          margin-left: 2.5%;
          margin-right: 2.5%;
        //  height: 60vh;

          .treat-list {
            height: 60vh;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            
          }
          .btn-row {
            width: 100%;
            display: flex;
            margin-left: auto;
            height: 10%;
            margin-top: 5%;

            .back-btn {
              background-color: $accent;
              color: $primary;
              font-size: 100%;
              padding: 1.5vh;
              width: 25%;
              border: none;
              cursor: pointer;
              border-radius: 10px;
            }
            .submitButton:hover {
              background-color: #d4d926;
            }
          }
        }
        
      }
      .selected-pane {
        width: 50%;
        height: 87vh;
        display: flex;
        flex-direction: column;
        background-color: #f7f8ff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        .selected-content {
          margin: 3rem;
          height: 100%;
          .title {
            display: flex;
            justify-content: center;

            h3 {
              color: black;
            }
          }
          .selected-list {
            display: flex;
            color: black;
            overflow-y: auto;
            height: 60vh;
            align-items: center;
            flex-direction: column;
          }
        }
        .btn-row {
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 15%;
          .add-new-btn {
            background-color: $accent;
            color: $primary;
            font-size: 1.2vw;
            margin: 1.25rem 0px;
            padding: 0.625rem;
            width: 13vw;
            height: 7vh;
            border: none;
            cursor: pointer;
            border-radius: 10px;
          }
          .add-new-btn:hover {
            background-color: #d4d926;
          }
          .continue-btn {
            background-color: $accent;
            color: $primary;
            font-size: 1.2vw;
            margin: 1.25rem 0px;
            padding: 0.625rem;
            width: 13vw;
            margin-left: 30%;
            height: 7vh;
            border: none;
            cursor: pointer;
            border-radius: 10px;
          }
          .continue-btn:hover {
            background-color: #d4d926;
          }
          .disabled-btn {
            background-color: #d3d3d3;
            color: black;
            font-size: 1.6rem;
            margin: 1.25rem 0px;
            padding: 0.625rem;
            width: 13vw;
            margin-left: 30%;
            height: 7vh;
            border: none;
            border-radius: 10px;
          }
        }
      }
    }
  }
}