.exp-container {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;

  .content {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 87vh;
    border-radius: 20px;

    .content-wrapper {
      display: flex;

      .exp-list {
        width: 87vh;
        display: flex;
        flex-direction: column;
        z-index: 7;
        color: black;
        height: 87vh;
        overflow-y: auto;

        .list-header {
          height: 10%;
          display: flex;
          flex-direction: column;
          margin-bottom: 5%;
          .header-text {
            align-self: center;

            h3 {
              color: $primary;
              font-size: 1.5vw;
            }
          }
          
          .search-tune-row {
            display: flex;
            flex-direction: row;
            width: 70%;
            justify-content: space-around;
            .search-box {
              width: 15rem;
              height: 3rem;
            }
            .tune-margin {
              .tune-icon {
                width: 3rem;
                height: 3rem;
                //margin-left: 2rem;
              }
              .tune-icon:hover {
                cursor: pointer;
              }
            }
          }
        }

        .list-content {
          margin-left: 3rem;
          .experiment-list {
            height: 60vh;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
          }
          .experiment-list::-webkit-scrollbar {
            width: 10px;
          }
          .experiment-list::-webkit-scrollbar-track {
            background: #ebe7e7;
            border-radius: 10px;
          }
           
          .experiment-list::-webkit-scrollbar-thumb {
            background: #eac2cb;
            border-radius: 10px;
        
          }
        

          .use-own-btn {
            width: 100%;
            display: flex;
            margin-left: auto;
            height: 10%;
            margin-top: 5%;
            .spacer {
              width: 40%;
            }

            .submitButton {
              background-color: $accent;
              color: $primary;
              font-size: 1.2vw;
              width: 25%;
              border: none;
              cursor: pointer;
              border-radius: 10px;
            }
            .submitButton:hover {
              background-color: #d4d926;
            }
          }
        }
      }
      .details-pane {
        width: 50%;
        background-color: #f7f8ff;
        height: 87vh;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow-y: scroll;
      }

      .details-pane::-webkit-scrollbar {
        width: 10px;
      }
      .details-pane::-webkit-scrollbar-track {
        background: #ebe7e7;
        border-radius: 10px;
      }
       
      .details-pane::-webkit-scrollbar-thumb {
        background: #eac2cb;
        border-radius: 10px;
    
      }
    
    }
  }
}
