.conditions-container {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: space-around;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 85%;

    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 35%;
      height: 90vh;

      h3 {
        font-size: 3.5vw;
      }

      p {
        font-size: 1.75vw;
        line-height: 2rem;
      }
    }
    .condition-content {
      display: flex;
      width: 40%;
      flex-direction: column;
      height: 80vh;
      overflow-y: scroll;

      .condition-list {
        width: 100%;
        height: 90%;
        overflow-y: scroll;
      }
      .condition-list::-webkit-scrollbar {
        width: 7.5px;
      }
      .condition-list::-webkit-scrollbar-track {
        background: #ebe7e7;
        border-radius: 10px;
      }
       
      .condition-list::-webkit-scrollbar-thumb {
        background: #eac2cb;
        border-radius: 10px;
    
      }
    
      .btn-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .continue-btn {
          align-self: flex-end;
          background-color: $accent;
          color: $primary;
          font-size: 1.2vw;
          margin-top: 2rem;
          padding: 1.5vw;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          width: 25%;
        }
        .continue-btn:hover {
          background-color: #d4d926;
        }
        
      }
    }
  }
}
