.your-observations-container {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  .title {
    display: flex;
    align-items: center;
    h3 {
      font-size: 3rem;
    }
  }
  .content {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 65vh;
    border-radius: 20px;
    .content-wrapper {
      display: flex;
      color: black;
      .response-pane {
        width: 50%;
        display: flex;
        height: 65vh;
        overflow-y: auto;
        .response-pane-wrapper {
          margin-left: 2rem;
          margin-top: 2rem;
          width: 100%;
          .title {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: left;
            justify-items: left;
            align-items: flex-start;
            h3 {
              display: inline;
              font-size: 1.25vw;
            }
            h2 {
              display: inline;
              font-size: 2vw;
            }
          }
          .variable-list {
            display: flex;
            flex-direction: column;
            height: 50%;

            .variable-list-item {
              display: flex;
              flex-direction: row;
              width: 25%;

              .label {
                width: 45%;
                display: flex;
                align-items: center;
                h3 {
                  display: inline;
                  margin-bottom: 0;
                  font-size: 1.25vw;
                }
              }
              .checkbox {
                display: flex;
                align-items: center;
                width: 45%;
                height: 3vh;
                input {
                  height: 50%;
                  width: 2vw;
                }
              }
            }
          }
          .recording-date {
            display: flex;
            flex-direction: row;
            height: 20%;
            margin-top: auto;
            .date-label {
              width: 25%;
              h3 {
                display: inline;
                font-size: 1.25vw;
              }
            }
            .date-input {
              width: 25%;

            }
          }
        }
      }
      .confirmation-pane {
        width: 50%;
        background-color: #f7f8ff;
        height: 65vh;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: column;
        .confirmation-pane-wrapper {
          height: 100%;
          margin-left: 2rem;
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .title {
            h3 {
              display: inline;
              font-size: 2vw;
            }
          }

          .milestones {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: auto;
            .add-milestone {
              width: 40%;
              margin-right: auto;
              .title {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: left;
                justify-items: left;
                align-items: flex-start;
                h3 {
                  display: inline;
                  font-size: 1vw;
                  margin-bottom: 5%;
                }
                h2 {
                  display: inline;
                  font-size: 1.5vw;
                  margin-bottom: 2%;
                }
              }
              .input-row {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .text-input {
                  margin-bottom: 5%;
                  width: 100%;

                  input {
                    width: 100%;
                  }
                }

                .add-btn {
                  width: 100%;
                  display: flex;
                  justify-content: flex-start;
                  .submitButton {
                    background-color: $accent;
                    color: $primary;
                    font-size: 1rem;
                    float: right;
                    padding: 3%;
                    border: none;
                    cursor: pointer;
                    border-radius: 10px;
                    width: 50%;
                  }
                  .submitButton:hover {
                    background-color: #d4d926;
                  }
                }
              }
            }
            .milestone-list {
              width: 50%;
              background-color: white;
              border-radius: 20px;
              margin-right: auto;

              .list-wrapper {
                width: 95%;
                height: 95%;
                margin-top: 5%;
                margin-left: 5%;
                h3 {
                  margin-bottom: 2%;
                }
              }
            }
          }

          .final {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: auto;
            margin-top: auto;
            height: 30%;
            .add-final {
              width: 40%;
              margin-right: auto;
              .title {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: left;
                justify-items: left;
                align-items: flex-start;
                h3 {
                  display: inline;
                  font-size: 1vw;
                  margin-bottom: 5%;
                }
                h2 {
                  display: inline;
                  font-size: 1.5vw;
                  margin-bottom: 2%;
                }
              }
            }
            .final-list {
              width: 50%;
              background-color: white;
              border-radius: 20px;
              margin-right: auto;
              display: block;
              overflow-y: scroll;

              .list-wrapper {
                width: 95%;
                height: 95%;
                margin-top: 5%;
                margin-left: 5%;
                h3 {
                  margin-bottom: 2%;
                }
              }
            }
          }
          .btn-column {
            display: flex;
            
            .spacer {
              width: 65%;
              height: 80%;
            }

            .continue-button {
              margin-right: auto;

              .submitButton {
                background-color: $accent;
                color: $primary;
                font-size: 1.6rem;
                float: right;
                margin: 1.25rem 0px;
                padding: 15px;
                border: none;
                cursor: pointer;
                border-radius: 10px;
              }
              .submitButton:hover {
                background-color: #d4d926;
              }
            }
          }
        }
      }
    }
  }
}
