.dashboard-container {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 240px;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-around;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    height: 90vh;
    border-radius: 20px;

    .students-pane {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 90vh;
      border-radius: 20px;

      .students-wrapper {
        h3 {
          color: $primary;
          font-size: 1.6rem;
        }
      }
    }

    .middle-pane {
      //background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 31%;
      height: 90vh;
      //border-radius: 20px;

      .projects-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 44vh;
        border-radius: 20px;
        width: 100%;

        h3 {
          color: $primary;
          font-size: 1.6rem;
        }
      }

      .node-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 44vh;
        border-radius: 20px;
        width: 100%;

        h3 {
          color: $primary;
          font-size: 1.6rem;
        }
      }
    }

    .help-pane {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 26%;
      height: 90vh;
      border-radius: 20px;

      h3 {
        color: $primary;
        font-size: 1.6rem;
      }
    }
  }
}
