.dashboard-container {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20%;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-around;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    height: 90vh;
    border-radius: 20px;

    .students-pane {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      height: 90vh;
      border-radius: 20px;
      padding: 20px;

      .students-wrapper {
        h3 {
          color: $primary;
          font-size: 1.6rem;
        }
      }
    }

    .middle-pane {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 31%;
      height: 90vh;

      .projects-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 44vh;
        border-radius: 20px;
        width: 100%;

        .title {
         // margin-top: 10%;
          height: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .activity-list {
          height: 60%;
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          .activity {
            display: flex;
            flex-direction: row;
            width: 80%;
            .img {
              width: 30%;

            }
            .name {
              width: 65%;
            }
          }
        }


        h3 {
          color: $primary;
          font-size: 1.6rem;
        }
      }

      .node-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 44vh;
        border-radius: 20px;
        width: 100%;
        padding: 20px;

        .invite-list{
          width: 100%;
          height: 100%;

          h3{
            margin-top: 10%;
            text-align: center;
            color: black;
          }
        }

        h3 {
          color: $primary;
          margin-bottom: 0;
          font-size: 1.6rem;
        }
        img {
          object-fit: contain;
          width: 100%;
          height: 90%;
        }
      }
    }

    .help-pane {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 26%;
      height: 90vh;
      border-radius: 20px;
      padding: 20px;

      h3 {
        color: $primary;
        font-size: 1.6rem;
      }

      .list {
        width: 100%;
        height: 60%;
        overflow-y: scroll;
        .dandelion-link-item {
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: row;
          width: 100%;
          box-shadow: 2px 3px #d3d3d3;
          min-height: fit-content;
          border-radius: 20px;
          margin-bottom: 1.5rem;
          background-color: $accent;
          text-decoration: none;

          .item-title {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            h3 {
              width: 70%;
              min-width: 70%;
              font-size: 100%;
              color: black;
              margin-bottom: 0;
              margin-left: 10px;
            }

            .link-icon {
              color: black;
              width: 20%;
              height: 50%;
            }
          }
        }
        .dandelion-link-item:hover {
          background-color: #d4d926;
          cursor: pointer;
        }
      }
      .list::-webkit-scrollbar {
        display: none;
      }
      .calendar {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 35%;
        max-height: 35% !important;

        .superuser-calendar {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
