.project-container {
  background: #2e5641;
  color: $white;
  margin-left: 20%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;

  .project-content {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 93vh;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    border-radius: 20px;

    .content-wrapper {
      display: flex;
      justify-content: center;

      .table {
        width: 40%;
        display: flex;
        align-items: flex-start;
        z-index: 7;
        color: black;
        height: 90%;

        h3 {
          color: black;
        }
      }
    }

    .project-pane {
      width: 60%;
      background-color: #f7f8ff;
      align-items: stretch;
      overflow-y: scroll;
      height: 93vh;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      h3, h2, p {
        color: black;
      }
    }
    .project-pane::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
  }
  }
}
