.settings-container {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20%;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-around;
  .title {
    h3 {
      font-size: 3rem;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    height: 90vh;
    border-radius: 20px;
    .settings-pane {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      height: 90vh;
      .school-image {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        background-color: white;
        height: 44vh;
        border-radius: 20px;
        width: 100%;
        img {
          object-fit: fill;
          margin: 0;
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
        .edit-circle {
          width: 70px;
          position: absolute;
          bottom: 0;
          right: 0;
          margin-left: 10%;
          display: flex;
          height: 70px;
          background-color: $accent;
          border-radius: 35px;
          justify-content: center;
          align-items: center;

          .edit-icon {
            color: black;
            width: 70%;
            height: 70%;
          }
        }
        .edit-circle:hover{
          background-color: #d4d926;
          cursor: pointer;
        }
      }
      .node-settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 40vh;
        border-radius: 20px;
        width: 100%;

        h3 {
          color: $primary;
          font-size: 1.2rem;
        }
      }
      .spacer {
        display: flex;
        height: 4vh;
      }
    }
    .details-pane {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 2%;
      width: 35%;
      height: 90vh;

      .details {
        display: flex;
        flex-direction: column;
        height: 44vh;
        width: 100%;

        .item-input{
          width: 60%;
          margin-bottom: 5%;
        }

        h3 {
          font-size: 1.2rem;
          font-family: "Archivo Narrow";
        }
        .btn-update-delete {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .update-button {
            background-color: $accent;
            color: $primary;
            font-size: 1.25rem;
            margin: 1.25rem 0px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
          }
          .back-button:hover {
            background-color: #d4d926;
          }
        }
      }
    }
    .spacer {
      display: flex;
      width: 15%;
    }
  }
}
