.settings-container {
  background: #2e5641;
  color: $white;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 240px;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-around;
  .title {
    h3 {
      font-size: 3rem;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    height: 90vh;
    border-radius: 20px;
    .settings-pane {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      height: 90vh;
      .school-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 44vh;
        border-radius: 20px;
        width: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }
      .node-settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 40vh;
        border-radius: 20px;
        width: 100%;

        h3 {
          color: $primary;
          font-size: 1.2rem;
        }
      }
      .spacer {
        display: flex;
        height: 4vh;
      }
    }
    .details-pane {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 35%;
      height: 90vh;

      .details {
        display: flex;
        flex-direction: column;
        height: 44vh;
        width: 100%;

        h3 {
          font-size: 1.2rem;
          font-family: "Archivo Narrow";

        }
      }
    }
    .spacer {
      display: flex;
      width: 15%;
    }
  }
}
