.user-maintenance-container {
    background: #2e5641;
    color: $white;
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 240px;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 97%;
        height: 90vh;
        border-radius: 20px;

        .user-pane {
            width: 49%;
            background-color: #f7f8ff;
            align-items: stretch;
            height: 93vh;
            border-radius: 20px;
            overflow-y: scroll;
            padding: 2%;
            
            .title{
                h3{
                    color: $primary;
                    font-size: 1.5vw;
                }
            }
        }
        .user-pane::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }

        img {
            width: 20%;
            height: 20%;
            object-fit: fill;
        }
    }
}
