<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <div>
        <div>
            <form method="POST" action="{{ request.url }}">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name }}
                {{ form.telephone.label }} {{ form.telephone }}
                {{ form.email.label }} {{ form.email }}
                {{ form.submit }}
            </form>
        </div>
    </div>
</body>
</html>