{% from 'bootstrap4/form.html' import render_form %}
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="content-section">
      <div class="center">
        <h1>Register for an account</h1>
        <br/>
          <p>
              Please note that student accounts are maintained centrally. If you are a student, please click the forgotten password link on the Login screen rather than registering for a new account.
          </p>
        <br/>
        {{ render_form(form, extra_classes='clock-form') }}
      </div>
    </div>
{% endblock %}