$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;700&display=swap");

//static imports
@import "./variables.scss";
@import "./breakpoints.scss";

//component imports
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/tile.scss";
@import "./components/projectCard.scss";
@import "./components/experimentCard.scss";
@import "./components/schoolTable.scss";

@import "./components/userComponent.scss";
@import "./components/projectComponent.scss";
@import "./components/schoolUserComponent.scss";

@import "./components/sideNav.scss";
@import "./components/schoolUserPane.scss";
@import "./components/recordTable.scss";
@import "./components/projectPane.scss";

@import "./components/nodeInfoComponent.scss";

@import "./components/alertComponent.scss";


//@import "./components/footer.scss";
@import "./components/signin-form.scss";

//pages imports
@import "./pages/about.scss";
@import "./pages/dashboard.scss";
@import "./pages/signin.scss";
@import "./pages/data.scss";
@import "./pages/superuserMaintenance";
@import "./pages/superuserDashboard";
@import "./pages/schoolMaintenance.scss";
@import "./pages/sensor-maintenance.scss";
@import "./pages/school-user-maintenance.scss";
@import "./pages/project-maintenance.scss";
@import "./pages/auth-maintenance.scss";
@import "./pages/node-maintenance.scss";
@import "./pages/quantity-maintenance.scss";
@import "./pages/tag-maintenance.scss";
@import "./pages/superuser-alerts.scss";
@import "./pages/superuser-help.scss";
@import "./pages/superuser-templates.scss";
@import "./pages/superuser-settings.scss";
@import "./pages/sysadmin-dashboard.scss";
@import "./pages/firstActPage.scss";

@import "./pages/firstExpPage.scss";



html,
body {
  font-family: "Archivo Narrow";
  font-weight: 700;
  font-size: 1rem;
  background: #fe693c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  height: 100%;
  overflow-x: none;
  overscroll-behavior: none;
  margin: 0;
  padding: none;
  user-select: none;
  color: $white;
}
a{
  color: #e3c3ca;
}
a:visited { 
  text-decoration: none; 
  color: #e3c3ca; 
 }

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  background: #2e5641;

  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }

  @include media("<=phone") {
    width: 100%;
    min-width: 100%;
  }
}
