// For documentation see styles/README

.dandelion {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include media("<=tablet") {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    min-height: 100vh;
  }

  header {
    position: relative;
  }
}

.dandelion, .dandelion-modal {
  p, ul, ol {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;

    @include media("<=tablet") {
      font-size: 1.4rem;
      letter-spacing: 0;
    }

    @include media("<=phone") {
      font-size: 1.2rem;
      letter-spacing: 0;
    }
  }

  .smallprint {
    font-size: 1rem;
    color: $white;
  }

  .subheading {
    font-size: 2rem;
    line-height: 2rem;
  }

  h1 {font-size: 4rem;}
  h2 {font-size: 2.4rem;}
  h3 {font-size: 1.8rem;}
  h4, h5 {font-size: 1.5rem;}

  h4 {
    margin-bottom: 0;
  }

  p h1, p h2, p h3, p h4 {
    display: contents;
    margin: 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;

    &:hover {
      color: $dandelion-green;
    }
  }
  table {
    font-size: 1.4rem;

    thead {
        font-weight: bold;
    }

    tr:hover {
      background-color: #f7f8ff;
      cursor: pointer;
    }
  }
}

.dandelion a {
  color: $black;
}
.dandelion-modal a {
  color: $green;
  border-radius: 1rem;
  padding: 0 0.4rem;

  &:hover {
    color: $dandelion-green;
    background-color: $accent;
  }
}

.dandelion-hint {
  font-size: 2rem;
  color: slategrey;
  padding: 4rem;

  h1, h2, h3, h4 {
    display: inline-block;
    margin: 0;
  }
}


// HTML variations

.white {
  color: $white;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.bottom-divider {
  width: 100%;
  hr {
    height: 2px;
    width: 100%;
    background-color: lightgrey;
  }
}


@import "pages";          // Page layouts
@import "buttons";        // Buttons
@import "forms";          // Form layouts - except sign-in form which is the only actual HTML form. See pages/signin.scss
@import "panels";         // Content panels and scrollable regions
@import "modals";         // Modifications to the modal object from react-bootstrap
@import "cards";          // Modifications to the card object from react-bootstrap
@import "growcube";       // Styling of the grid view of the GrowCube
@import "colour-picker";  // Colour picker styling
@import "overrides";      // Overriding defaults from third-party libraries - typically react-bootstrap
@import "alerts";         // All types of alerts (e.g. activity invitations, node issues, etc.)

[data-testid="CheckCircleIcon"] {
  color: $green;
  margin-right: 1rem;
}

[data-testid="ErrorIcon"] {
  color: $orange;
  margin-right: 1rem;
}

[data-testid="InfoIcon"] {
  color: $dandelion-green;
  cursor: pointer;
  &:hover {
    color: $contrast;
  }
}


// Other customisations

.label-textbox {
  margin-top: 2rem;
}

textarea {
  width: 100%;
  height: 8rem;
}

