// For documentation see styles/README

.dandelion {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include media("<=tablet") {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    min-height: 100vh;
  }

  header {
    position: relative;
  }

  .page-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 1%;
    color: $white;
    background-color: inherit;
    justify-content: space-evenly;
    display: flex;
    flex-grow: 1;

    @include media("<=tablet") {
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      margin-top: 50px;
    }

    @include media("<=phone") {

    }

  }

  p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 2.5rem 0 1.5rem;

    @include media("<=tablet") {
      font-size: 1.4rem;
      letter-spacing: 0;
    }

    @include media("<=phone") {
      font-size: 1.2rem;
      letter-spacing: 0;
    }
  }

  p.smallprint {
    font-size: 1rem;
  }

  h1 {
    align-items: flex-start;
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }

  h2 {
    align-items: flex-start;
    margin-bottom: 1.2rem;
    font-size: 3rem;
  }

  h3 {
    align-items: flex-start;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.4px;

    @include media("<=tablet") {
      font-size: 2rem;
      letter-spacing: 0;
    }

    @include media("<=phone") {
      font-size: 1.6rem;
      letter-spacing: 0;
    }
  }

  h4 {
    align-items: flex-start;
    //color: $black;
    font-size: 2rem;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: $black;

    &:hover {
      color: $dandelion-green;
    }
  }
}

.dandelion-component {
  h2 {
    margin: 2rem;
  }

  p {
    margin: 0 2rem;
  }
}

//  .button {
//    background-color: $accent;
//    color: $primary;
//    border-radius: 8px;
//    border-style: none;
//    cursor: pointer;
//    font-size: 1.5rem;
//    font-weight: 500;
//    line-height: 20px;
//    padding: 0.625rem 2rem;
//    touch-action: manipulation;
//
//    @include media("<=tablet") {
//      height: 100%;
//      font-size: 150%;
//    }
//  }
//  .button:hover,
//  .button:focus {
//    background-color: #d4d926;
//  }
//}

// Tables

.dandelion-table {
  table {
    //margin-top: 1.5rem;
    //margin-left: 2rem;

    thead {
        font-weight: bold;
    }

    tr:hover {
      background-color: #f7f8ff;
      cursor: pointer;
    }
  }
}

// Buttons

.dandelion-button {
  font-family: "Archivo Narrow", "Helvetica Neue", sans-serif;
  background-color: $accent;
  color: $primary;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: .2rem 2rem;

  &:hover {
    color: $primary;
    background-color: #d4d926;
  }

  &:focus {
    background-color: $accent;
    color: $primary;
  }

}

.dandelion-button-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  button {
    display: flex;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.large-button {
  font-size: 140%;
}


// HTML variations

.white {
  color: $white;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.bottom-divider {
  width: 100%;
  hr {
    height: 2px;
    width: 100%;
    background-color: lightgrey;
  }
}

// Forms

.labelled-field {
  display: flex;
  flex-direction: row;
  margin: 1rem 0.2rem;
  align-items: baseline;

  .label {
    margin: 0 2rem 0 0;
  }
}

.label {
    font-width: bold;
    font-size: 1.2rem;
}

.edit-circle {
  width: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 10%;
  display: flex;
  height: 70px;
  background-color: $accent;
  border-radius: 35px;
  justify-content: center;
  align-items: center;

  .edit-icon {
    color: black;
    width: 70%;
    height: 70%;
  }
}


// Panels

// scrollable container requires that the parent element has the properties:
//     display: flex
//     flex_direction: column

.scrollable-modal {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 1%;
}

.scrollable-header {

}

.scrollable-content {
  flex-grow: 1;
  overflow: auto;
  padding-left: 2rem;
}

.scrollable-footer {
  margin: auto;
}

.panel {
  background: inherit;
  color: $black;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  @include media("<=tablet") {
    min-height: 1%;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.panel-title {
  background-color: $white;
  overflow-y: auto;
  margin: 4rem 4rem 0 4rem;
  padding: 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: solid 1px lightgrey;

  @include media("<=tablet") {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 1rem 0 1rem;
    min-height: 1%;
  }
}

.panel-content {
  background-color: $white;
  flex: 1;
  overflow-y: auto;
  margin: 0 4rem 4rem 4rem;
  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @include media("<=tablet") {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 1rem 0 1rem;
    min-height: 1%;
  }
}

// Other customisations

.label-textbox {
  margin-top: 2rem;
}

textarea {
  width: 100%;
  height: 8rem;
}

.dandelion-modal {
  .modal-content {
    border-radius: 20px;
  }
  .modal-title h2 {
    padding-top: 1.5rem;
  }
  .modal-header {
    align-items: start;
    border-bottom: none;
  }
  .modal-footer {
    border-top: none;
  }
}
