
$white: #fff;
$black: #000;
$primary: #2E5641;
$dandelion-green: #2E5641;
$dandelion-grey: #f7f8ff;
$accent: #f8f448;
$contrast: #cda8bd;
$orange-accent: #fe693c;

// Colour palette from https://gist.github.com/thriveth/8560036
$blue: #377eb8;
$dark-blue: #214B6E;

$orange: #ff7f00;
$dark-orange: #B57636;

$green: #4daf4a;
$dark-green: #21661F;

$pink: #f781bf;
$dark-pink: #AD3475;

$brown: #a65628;
$dark-brown: #5C331C;

$purple: #984ea3;
$dark-purple: #511B59;

$grey: #999999;
$dark-grey: #4F1818;

$red: #e41a1c;
$dark-red: #992E30;

$yellow: #dede00;
$dark-yellow: #94942C;

$scrollbar-size: 10px;
