.enter-observation {
  position: relative;
  display: flex;
  overflow-y: auto;

  .right-panel {
    .panel-body {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  
  .growcube-outer {
    background-color: #66b;
    width: 100%;
    flex-grow: 1;
  }

    .growcube-container {
      background: #2e5641;
      color: $white;
      //width: 60%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 2rem;
      margin: auto;

      .growcube {
        max-width: 60vh;
      }
  }

  .form-label {
    font-size: 1.4rem;
    font-weight: normal;
    color: black;
  }
}

