.school-user-dashboard {
  .left-panel {
    width: 30%;
  }
  .middle-panel {
    width: 50%;
    background-color: $dandelion-grey;
  }
  .right-panel {
    width: 20%;
    background-color: $white;
  }
  .btn-container {
    padding: 1.5rem;
  }
}
.participant-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}
