.project-table {
  width: 93%;
  overflow-x: hidden;
  height: 80%;
  display: flex;
  flex-direction: column;
  @include media(">desktop") {
   width: 95%;
  }

  .projectList {
    margin-top: 1.5rem;
    margin-left: 32px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    tbody {
      td{
        width: 100%;
      }
      width: 100%;
      .active {
        background-color: #f7f8ff;
        td{
          width: 100%;
        }
      }


      &:hover {
        background-color: #f7f8ff;
        cursor: pointer;
      }
    }
  }

  .add-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .submitButton {
        background-color: $accent;
        color: $primary;
        font-size: 1.6rem;
        padding: 3%;
        width: 13rem;
        border: none;
        cursor: pointer;
        border-radius: 10px;
      }
      .submitButton:hover {
        background-color: #d4d926;
      }
  }
}
