.school-comp-container {
  width: 93%;
  height: 100%;
  flex-direction: column;

  @include media(">desktop") {
    width: 96.2%;
  }

  .schoolTable {
    height: 60%;
    margin-top: 1.5rem;
    overflow-y: scroll;
    overflow-x: hidden;


    .schoolList {
      margin-left: 2rem;

      tbody {
        .active {
          background-color: #f7f8ff;
        }

        &:hover {
          background-color: #f7f8ff;
          cursor: pointer;
        }
      }
    }
  }

  .schoolTable::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .btn-row {
justify-content: flex-end;    .add-btn {

      .submitButton {
        background-color: $accent;
        color: $primary;
        font-size: 1.6rem;
        margin: 1.25rem 0px;
        padding: 0.625rem;
        width: 13rem;
        border: none;
        cursor: pointer;
        border-radius: 10px;
      }
      .submitButton:hover {
        background-color: #d4d926;
      }
    }
  }
}
