.school-comp-container {
  width: 93%;
  height: 100%;

  @include media(">desktop") {
    width: 96.2%;
  }

  .schoolList {
    overflow-y: scroll;
    overflow-x: hidden;

    tbody {
      overflow-y: scroll;
      height: 90%;

      td {
        padding: 0.5rem;
      }
    }
 }

  .schoolTable::-webkit-scrollbar {
    width: 10px;
  }
  .schoolTable::-webkit-scrollbar-track {
    background: #ebe7e7;
    border-radius: 10px;
  }
   
  .schoolTable::-webkit-scrollbar-thumb {
    background: #eac2cb;
    border-radius: 10px;
  }
}
